<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
    <import resource="spring-mongo-config.xml"/>
   
    <bean id="regService" class="com.un.services.RegistrationServiceImpl">
        <property name="dao" ref="regDaoImpl"/>
    </bean>
    <bean id="regDaoImpl" class="com.un.dao.RegistrationDaoImpl">
        <property name="mongoTemplate" ref="mongoTemplate"/>
    </bean>
</beans>